# deps
/node_modules/
/client/node_modules/
/server/node_modules/

# build
/server/dist/
/client/.next/
/.next/
/out/
/coverage/

# env
.env
.env.*

# prisma generated
/server/src/generated/prisma/

# logs & editors
*.log
.vscode/
.DS_Store
